<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h1><a href="#">EMS<span> Soft</span></a></h1>

          <p>Every single event we are entrusted to plan,produce and manage is a honour.As we are given the responsibility to deliver our clients vision.We commit to meticulous planning,creative innovation,flawless execution, and an unwavering dedication to exceeding our clients'expectations.Our goal is to create unforgettable experiences that leave a lasting impact. We believe that the key to exceptional events lies in our passion for excellence, our pursuit of perfection, and our unwavering commitment to turning dreams into reality.</p>
        </div>

        <div class="col-lg-4 col-md-8 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/about.html">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Contact us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/services.html">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/privacy_policy">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            New York, XY 58<br>
            United States <br>
            <strong>Phone:</strong> +1 1234 557788 99<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">NexTash</a>
    </div>
  </div>
</footer><!-- End  Footer -->