<!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
  <div class="container-fluid container-xxl d-flex align-items-center">

    <div id="logo" class="me-auto">
      <!-- Uncomment below if you prefer to use a text logo -->
      <h1><a href="#">EMS<span>Soft</span></a></h1>
    </div>


    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/Events">Home</a></li>
        <li><a class="nav-link scrollto" href="/schedule">Schedule</a></li>
        <li><a class="nav-link scrollto" href="#">Venue</a></li>
        <li><a class="nav-link scrollto" href="#">Hotels</a></li>
        <li><a class="nav-link scrollto" href="#">Gallery</a></li>

        <li class="dropdown"><a href="#"><span>Event Type</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="dropdown"><a href="#"><span>Select Any Event</span> <i class="bi bi-chevron-left"></i></a>
              <ul>
                <li><a href="/Event/Conference">Conference Event </a></li>
                <li><a href="/Event/Wedding">Wedding Event</a></li>
                <li><a href="/Event/Networking_event">Networking Event </a></li>
                <li><a href="/Event/Product_Launch">Product Launch </a></li>
                <li><a href="/Event/Team_building">Team Building Event </a></li>
                <li><a href="/Event/Trade_show">Trade Show Event </a></li>
                <li><a href="/Event/Workshop">Workshop Event </a></li>
                <!-- <li><a href="#"></a></li> -->
              </ul>
            </li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/session">F.A.Q</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a class="buy-tickets scrollto" href="/Organizer">Organizer</a>
    <a class="buy-tickets scrollto" href="/Book_Event">Book Event</a>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">The <br><span>EMS</span> Soft</h1>
    <!-- <p class="mb-4 pb-0">EMS Soft,Lahore, Pakistan</p> -->
    <a href="#" class="glightbox play-btn mb-4"></a>
    <a href="#about" class="about-btn scrollto">About The Event</a>
  </div>
</section><!-- End Hero Section -->

