{% extends "templates/web_custom.html"%}

{% block content %}



<main id="main">

<!-- ======= Venue Section ======= -->
    <section id="venue">
        <div class="container-fluid" data-aos="fade-up">
            <div class="section-header">
                <h2>Event Venue</h2>
                <p>Event venue location info and gallery</p>
            </div>

        </div>

        <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="/assets/event/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                            <img src="/assets/event/img/venue-gallery/8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <!-- ======= Hotels Section ======= -->

        <section id="hotels" class="section-with-bg">

            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Hotels</h2>
                    <p>Her are some nearby hotels</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="/assets/event/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
                            </div>
                            <h3><a href="#">Hotel 1</a></h3>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <p>0.4 Mile from the Venue</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="/assets/event/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
                            </div>
                            <h3><a href="#">Hotel 2</a></h3>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill-half-full"></i>
                            </div>
                            <p>0.5 Mile from the Venue</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="/assets/event/img/hotels/3.jpg" alt="Hotel 3" class="img-fluid">
                            </div>
                            <h3><a href="#">Hotel 3</a></h3>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <p>0.6 Mile from the Venue</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="/assets/event/img/hotels/hotel-6.jpg" alt="Hotel 1" class="img-fluid">
                            </div>
                            <h3><a href="#">Hotel 4</a></h3>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <p>0.5 Mile from the Venue</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="/assets/event/img/hotels/hotel-2.jpg" alt="Hotel 2" class="img-fluid">
                            </div>
                            <h3><a href="#">Hotel 5</a></h3>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill-half-full"></i>
                            </div>
                            <p>0.6 Mile from the Venue</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="/assets/event/img/hotels/hotel-3.jpg" alt="Hotel 3" class="img-fluid">
                            </div>
                            <h3><a href="#">Hotel 6</a></h3>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <p>0.7 Mile from the Venue</p>
                        </div>
                    </div>
                </div>

                <div class="container" data-aos="fade-up">
                    <div class="row" data-aos="fade-up" data-aos-delay="100">

                        <div class="col-lg-4 col-md-6">
                            <div class="hotel">
                                <div class="hotel-img">
                                    <img src="/assets/event/img/hotels/restaurant-1.jpg" alt="Hotel 1"
                                        class="img-fluid">
                                </div>
                                <h3><a href="#">Hotel 7</a></h3>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <p>0.5 Mile from the Venue</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="hotel">
                                <div class="hotel-img">
                                    <img src="/assets/event/img/hotels/restaurant-5.jpg" alt="Hotel 2"
                                        class="img-fluid">
                                </div>
                                <h3><a href="#">Hotel 8</a></h3>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill-half-full"></i>
                                </div>
                                <p>0.6 Mile from the Venue</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="hotel">
                                <div class="hotel-img">
                                    <img src="/assets/event/img/hotels/restaurant-3.jpg" alt="Hotel 3"
                                        class="img-fluid">
                                </div>
                                <h3><a href="#">Hotel 9</a></h3>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <p>0.7 Mile from the Venue</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- End Hotels Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="venue">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Gallery</h2>
                    <p>Check our gallery from the recent events</p>
                </div>
            </div>

            <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
                <div class="row g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/4.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/6.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="/assets/event/img/gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                                <img src="/assets/event/img/gallery/8.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!-- End Gallery Section -->
</main><!-- End #main -->


{% endblock %}