{% extends "templates/web_custom.html"%}

{% block content %}


<h1 style="text-align: center; margin: 20px;text-decoration: underline;">PRIVACY POLICY</h1>


<p style="text-align:justify ; margin: 20px;">
    Data protection is of a particularly high priority for the management of Accelerate Productions Ltd, trading as
    Events by <strong> EMS </strong>, hereafter known as ‘Events by <strong> EMS </strong>’. The use of the Internet pages of the Events by <strong> EMS </strong> is
    possible without any indication of personal data; however, if a data subject wants to use special enterprise
    services via our website, processing of personal data could become necessary. If the processing of personal data is
    necessary and there is no statutory basis for such processing, we generally obtain consent from the data subject.

    The processing of personal data, such as the name, address, e-mail address, or telephone number of a data subject
    shall always be in line with the General Data Protection Regulation (GDPR), and in accordance with the
    country-specific data protection regulations applicable to the Events by <strong> EMS </strong>. By means of this data protection
    declaration, our enterprise would like to inform the general public of the nature, scope, and purpose of the
    personal data we collect, use and process. Furthermore, data subjects are informed, by means of this data protection
    declaration, of the rights to which they are entitled.

    As the controller, the Events by <strong> EMS </strong> has implemented numerous technical and organizational measures to ensure the
    most complete protection of personal data processed through this website. However, Internet-based data transmissions
    may in principle have security gaps, so absolute protection may not be guaranteed. For this reason, every data
    subject is free to transfer personal data to us via alternative means, e.g. by telephone.
</p>



<h1 style="text-align: center;">1. DEFINITIONS</h1>
<p style="text-align:justify ; margin: 20px;">
    The data protection declaration of the Events by <strong> EMS </strong> is based on the terms used by the European legislator for
    the adoption
    of the General Data Protection Regulation (GDPR). Our data protection declaration should be legible and
    understandable for the general
    public,as well as our customers and business partners. To ensure this, we would like to first explain the
    terminology used.

    In this data protection declaration, we use, inter alia, the following terms:
</p>

<p style="text-align:justify ; margin: 20px;">
    <b>a) Personal data</b>
    Personal data means any information relating to an identified or identifiable natural person (“data subject”).
    An identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to
    an identifier such as a name,an identification number, location data, an online identifier or to one or more factors
    specific to the physical, physiological, genetic, mental,
    economic, cultural or social identity of that natural person.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>b) Data subject </b>
    Data subject is any identified or identifiable natural person, whose personal data is processed by the controller
    responsible for the processing.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>c) Processing </b>
    Processing is any operation or set of operations which is performed on personal data or on sets of personal data,
    whether or not by automated means,such as collection, recording, organisation, structuring, storage, adaptation or
    alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available,
    alignment or combination,restriction, erasure or destruction.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>d) Restriction of processing </b>
    Restriction of processing is the marking of stored personal data with the aim of limiting their processing in
    the future.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>e) Profiling </b>
    Profiling means any form of automated processing of personal data consisting of the use of personal data to
    evaluate certain personal aspects relating to a natural person, in particular to analyse or predict aspects
    concerning
    that natural person’s performance at work, economic situation, health, personal preferences, interests, reliability,
    behaviour, location or movements.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>f) Pseudonymisation </b>
    Pseudonymisation is the processing of personal data in such a manner that the personal data can no longer be
    attributed to a specific data subject without the use of additional information, provided that such additional
    information is kept separately and is subject to technical and organisational measures to ensure that the personal
    data are not attributed to an identified or identifiable natural person.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>g) Controller or controller responsible for the processing </b>
    Controller or controller responsible for the processing is the natural or legal person, public authority, agency or
    other body which, alone or jointly with others,determines the purposes and means of the processing of personal data;
    where the purposes and means of such processing are determined by Union or Member State law, the controller or the
    specific criteria for its nomination may be provided for by Union or Member State law.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>h) Processor </b>
    Processor is a natural or legal person, public authority, agency or other body which processes personal data on
    behalf of the controller.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>i) Recipient </b>
    Recipient is a natural or legal person, public authority, agency or another body, to which the personal data are
    disclosed,whether a third party or not. However, public authorities which may receive personal data in the framework
    of a particular inquiry in accordance with Union or Member State law shall not be
    regarded as recipients; the processing of those data by those public authorities shall be in compliance with the
    applicable data protection rules according to the purposes of the processing.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>j) Third party </b>
    Third party is a natural or legal person, public authority, agency or body other than the data subject, controller,
    processor and persons who, under the
    direct authority of the controller or processor, are authorised to process personal data.
</p>
<p style="text-align:justify ; margin: 20px;">
    <b>k) Consent </b>
    Consent of the data subject is any freely given, specific, informed and unambiguous indication of the data
    subject’s wishes by which he or she, by astatement or by a clear affirmative action, signifies agreement to the
    processing of personal data relating to him or her.
</p>

<h1 style="text-align: center;">2.COOKIES</h1>


<p style="text-align:justify ; margin: 20px;">
    On the website of the Events by <strong> EMS </strong>, users are given the opportunity to subscribe to our enterprise’s newsletter.
    The input mask used for this purpose determines what personal data are transmitted, as well as when the newsletter
    is ordered from the controller.


</p>
<p style="text-align:justify ; margin: 20px;">
    Many Internet sites and servers use cookies. Many cookies contain a so-called cookie ID. A cookie ID is a unique
    identifier of the cookie. It consists of a character string through which Internet pages and servers can be assigned
    to the specific Internet browser in which the cookie was stored. This allows visited Internet sites and servers to
    differentiate the individual browser of the dats subject from other Internet browsers that contain other cookies. A
    specific Internet browser can be recognized and identified using the unique cookie ID.


</p>

<p style="text-align:justify ; margin: 20px;">
    Through the use of cookies, the Events by <strong> EMS </strong> can provide the users of this website with more user-friendly
    services that would not be possible without the cookie settin
</p>
<p style="text-align:justify ; margin: 20px;">
    By means of a cookie, the information and offers on our website can be optimized with the user in mind. Cookies
    allow us, as previously mentioned, to recognize our website users. The purpose of this recognition is to make it
    easier for users to utilize our website. The website user that uses cookies, e.g. does not have to enter access data
    each time the website is accessed, because this is taken over by the website, and the cookie is thus stored on the
    user’s computer system. Another example is the cookie of a shopping cart in an online shop. The online store
    remembers the articles that a customer has placed in the virtual shopping cart via a cookie.
</p>
<p style="text-align:justify ; margin: 20px;">
    The data subject may, at any time, prevent the setting of cookies through our website by means of a corresponding
    setting of the Internet browser used, and may thus permanently deny the setting of cookies. Furthermore, already set
    cookies may be deleted at any time via an Internet browser or other software programs. This is possible in all
    popular Internet browsers. If the data subject deactivates the setting of cookies in the Internet browser used, not
    all functions of our website may be entirely usable.
</p>


<h1 style="text-align: center;">3. COLLECTION OF GENERAL DATA AND INFORMATION</h1>


<p style="text-align:justify ; margin: 20px;">
    The website of the Events by <strong> EMS </strong> collects a series of general data and information when a data subject or
    automated system calls up the website. This general data and information are stored in the server log files.
    Collected may be (1) the browser types and versions used, (2) the operating system used by the accessing system, (3)
    the website from which an accessing system reaches our website (so-called referrers), (4) the sub-websites, (5) the
    date and time of access to the Internet site, (6) an Internet protocol address (IP address), (7) the Internet
    service provider of the accessing system, and (8) any other similar data and information that may be used in the
    event of attacks on our information technology systems.
</p>
<p style="text-align:justify ; margin: 20px;">
    When using these general data and information, the Events by <strong> EMS </strong> does not draw any conclusions about the data
    subject. Rather, this information is needed to (1) deliver the content of our website correctly, (2) optimize the
    content of our website as well as its advertisement, (3) ensure the long-term viability of our information
    technology systems and website technology, and (4) provide law enforcement authorities with the information
    necessary for criminal prosecution in case of a cyber-attack. Therefore, the Events by <strong> EMS </strong> analyzes anonymously
    collected data and information statistically, with the aim of increasing the data protection and data security of
    our enterprise, and to ensure an optimal level of protection for the personal data we process. The anonymous data of
    the server log files are stored separately from all personal data provided by a data subject.
</p>


<h1 style="text-align: center;">4. SUBSCRIPTION TO OUR NEWSLETTERS</h1>


<p style="text-align:justify ; margin: 20px;">
    On the website of the Events by <strong> EMS </strong>, users are given the opportunity to subscribe to our enterprise’s newsletter.
    The input mask used for this purpose determines what personal data are transmitted, as well as when the newsletter
    is ordered from the controller.
</p>
<p style="text-align:justify ; margin: 20px;">
    The Events by <strong> EMS </strong> informs its customers and business partners regularly by means of a newsletter about enterprise
    offers. The enterprise’s newsletter may only be received by the data subject if (1) the data subject has a valid
    e-mail address and (2) the data subject registers for the newsletter shipping. A confirmation e-mail will be sent to
    the e-mail address registered by a data subject for the first time for newsletter shipping, for legal reasons, in
    the double opt-in procedure. This confirmation e-mail is used to prove whether the owner of the e-mail address as
    the data subject is authorized to receive the newsletter.
</p>
<p style="text-align:justify ; margin: 20px;">
    During the registration for the newsletter, we also store the IP address of the computer system assigned by the
    Internet service provider (ISP) and used by the data subject at the time of the registration, as well as the date
    and time of the registration. The collection of this data is necessary in order to understand the (possible) misuse
    of the e-mail address of a data subject at a later date, and it therefore serves the aim of the legal protection of
    the controller.
</p>
<p style="text-align:justify ; margin: 20px;">
    The personal data collected as part of a registration for the newsletter will only be used to send our newsletter.
    In addition, subscribers to the newsletter may be informed by e-mail, as long as this is necessary for the operation
    of the newsletter service or a registration in question, as this could be the case in the event of modifications to
    the newsletter offer, or in the event of a change in technical circumstances. There will be no transfer of personal
    data collected by the newsletter service to third parties. The subscription to our newsletter may be terminated by
    the data subject at any time. The consent to the storage of personal data, which the data subject has given for
    shipping the newsletter, may be revoked at any time. For the purpose of revocation of consent, a corresponding link
    is found in each newsletter. It is also possible to unsubscribe from the newsletter at any time directly on the
    website of the controller, or to communicate this to the controller in a different way.
</p>


<h1 style="text-align: center;">5. NEWSLETTER-TRACKING</h1>


<p style="text-align:justify ; margin: 20px;">
    The newsletter of the Events by <strong> EMS </strong> contains so-called tracking pixels. A tracking pixel is a miniature graphic
    embedded in such e-mails, which are sent in HTML format to enable log file recording and analysis. This allows a
    statistical analysis of the success or failure of online marketing campaigns. Based on the embedded tracking pixel,
    the Events by <strong> EMS </strong> may see if and when an e-mail was opened by a data subject, and which links in the e-mail were
    called up by data subjects.
</p>
<p style="text-align:justify ; margin: 20px;">
    Such personal data collected in the tracking pixels contained in the newsletters are stored and analyzed by the
    controller in order to optimize the shipping of the newsletter, as well as to adapt the content of future
    newsletters even better to the interests of the data subject. These personal data will not be passed on to third
    parties. Data subjects are at any time entitled to revoke the respective separate declaration of consent issued by
    means of the double-opt-in procedure. After a revocation, these personal data will be deleted by the controller. The
    Events by <strong> EMS </strong> automatically regards a withdrawal from the receipt of the newsletter as a revocation.
</p>


<h1 style="text-align: center;">6. CONTACT POSSIBILITY VIA THE WEBSITE</h1>


<p style="text-align:justify ; margin: 20px;">
    The website of the Events by <strong> EMS </strong> contains information that enables a quick electronic contact to our enterprise,
    as well as direct communication with us, which also includes a general address of the so-called electronic mail
    (e-mail address). If a data subject contacts the controller by e-mail or via a contact form, the personal data
    transmitted by the data subject are automatically stored. Such personal data transmitted on a voluntary basis by a
    data subject to the data controller are stored for the purpose of processing or contacting the data subject. There
    is no transfer of this personal data to third parties.
</p>

<h1 style="text-align: center;">7. ROUTINE ERASURE AND BLOCKING OF PERSONAL DATA</h1>


<p style="text-align:justify ; margin: 20px;">
    The data controller shall process and store the personal data of the data subject only for the period necessary to
    achieve the purpose of storage, or as far as this is granted by the European legislator or other legislators in laws
    or regulations to which the controller is subject to.
</p>
<p style="text-align:justify ; margin: 20px;">
    If the storage purpose is not applicable, or if a storage period prescribed by the European legislator or another
    competent legislator expires, the personal data are routinely blocked or erased in accordance with legal
    requirements
</p>

<h1 style="text-align: center;">8. RIGHTS OF THE DATA SUBJECT</h1>

<h1 style="text-align: center;">1.) Right of confirmation </h1>
<p style="text-align:justify ; margin: 20px;">
    Each data subject shall have the right granted by the European legislator to obtain from the controller the
    confirmation as to whether or not personal data concerning him or her are being processed. If a data subject wishes
    to avail himself of this right of confirmation, he or she may, at any time, contact any employee of the controller.
</p>

<p style="text-align:justify ; margin: 20px;">
    <b>2.)Right of access </b>
    Each data subject shall have the right granted by the European legislator to obtain from the controller free
    information about his or her personal data stored at any time and a copy of this information. Furthermore, the
    European directives and regulations grant the data subject access to the following information:
<ul>
    <li>the purposes of the processing.</li>
    <li>the categories of personal data concerned.</li>
    <li>the recipients or categories of recipients to whom the personal data have been or will be disclosed, in
        particular recipients in third countries or international organisations;</li>
    <li>where possible, the envisaged period for which the personal data will be stored, or, if not possible, the
        criteria used to determine that period;</li>
    <li>the existence of the right to request from the controller rectification or erasure of personal data, or
        restriction of processing of personal data concerning the data subject, or to object to such processing;</li>
    <li>the existence of the right to lodge a complaint with a supervisory authority;</li>
    <li>where the personal data are not collected from the data subject, any available information as to their source;
    </li>
    <li>the existence of automated decision-making, including profiling, referred to in Article 22(1) and (4) of the
        GDPR and, at least in those cases, meaningful information about the logic involved, as well as the significance
        and envisaged consequences of such processing for the data subject.</li>
    <li>Furthermore, the data subject shall have a right to obtain information as to whether personal data are
        transferred to a third country or to an international organisation. Where this is the case, the data subject
        shall have the right to be informed of the appropriate safeguards relating to the transfer.</li>
    <li>If a data subject wishes to avail himself of this right of access, he or she may, at any time, contact any
        employee of the controller.</li>
    <li></li>
</ul>
</p>

<h1 style="text-align: center;">9. PERIOD FOR WHICH THE PERSONAL DATA WILL BE STORED</h1>


<p style="text-align:justify ; margin: 20px;">
    The criteria used to determine the period of storage of personal data is the respective statutory retention period.
    After expiration of that period, the corresponding data is routinely deleted, as long as it is no longer necessary
    for the fulfillment of the contract or the initiation of a contract.
</p>
<h1 style="text-align: center;">10. PROVISION OF PERSONAL DATA AS STATUTORY OR CONTRACTUAL REQUIREMENT; REQUIREMENT
    NECESSARY TO ENTER INTO A CONTRACT; OBLIGATION OF THE DATA SUBJECT TO PROVIDE THE PERSONAL DATA; POSSIBLE
    CONSEQUENCES OF FAILURE TO PROVIDE SUCH DATA
</h1>
<p style="text-align:justify ; margin: 20px;">
    We clarify that the provision of personal data is partly required by law (e.g. tax regulations) or can also result
    from contractual provisions (e.g. information on the contractual partner).
</p>
<p style="text-align:justify ; margin: 20px;">
    Sometimes it may be necessary to conclude a contract that the data subject provides us with personal data, which
    must subsequently be processed by us. The data subject is, for example, obliged to provide us with personal data
    when our company signs a contract with him or her. The non-provision of the personal data would have the consequence
    that the contract with the data subject could not be concluded.
</p>

<p style="text-align:justify ; margin: 20px;">
    Before personal data is provided by the data subject, the data subject must contact any employee. The employee
    clarifies to the data subject whether the provision of the personal data is required by law or contract or is
    necessary for the conclusion of the contract, whether there is an obligation to provide the personal data and the
    consequences of non-provision of the personal data.
</p>
<h1 style="text-align: center;">11. EXISTENCE OF AUTOMATED DECISION-MAKING</h1>


<p style="text-align:center ; margin: 20px;">
    As a responsible company, we do not use automatic decision-making or profiling.
    <br>
    This Privacy Policy was last updated on 06 October 2023.
</p>
{% endblock %}