{% extends "templates/web_custom.html"%}

{% block content %}

  <!-- ======= Buy Ticket Section ======= -->
   <section id="buy-tickets" class="section-with-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Buy Tickets</h2>
        <h5 class="text-uppercase text-center"><span>Remaining Tickets  : </span>  {{ticket.remaining_tickets}}</h5>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Standard Access</h5>
              <h6 class="card-price text-center">${{ticket.standard_access}}</h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
              </ul>
              <hr>
              <div class="text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="standard-access">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Pro Access</h5>
              <h6 class="card-price text-center">${{ticket.pro_access}}</h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
              </ul>
              <hr>
              <div class="text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="pro-access">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Premium Access</h5>
              <h6 class="card-price text-center">${{ticket.premium_access}}</h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Workshop Access</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>After Party</li>
              </ul>
              <hr>
              <div class="text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="premium-access">Buy Now</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Modal Order Form -->
    <div id="buy-ticket-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Buy Tickets</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="#">
              <!-- <div class="form-group col-lg-12">
                <input type="number" class="form-control" name="ticket_id" id="ticket_id" placeholder="Ticket Id:">
              </div> -->
              <div class="form-group mt-3"  >
                <input type="text" class="form-control" name="event_name" id="event_name" placeholder="Event Name">
              </div>
              <div class="form-group mt-2">
                <input type="datetime-local" class="form-control" name="date_and_time" id="date_and_time" placeholder="Date and Time">
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="venue" id="vanue" placeholder="Venue">
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="seat/section" id="seatsection" placeholder="Seat/Section">
              </div>
              <div class="form-group mt-2">
                <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Quantity">
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="ticket_holder_name" id="ticket_holder_name" placeholder="Ticket Holder Name">
              </div>
              <div class="form-group mt-2">
                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile">
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="email" id="email" placeholder="Your Email">
              </div>
              
                <div class="form-group mt-3">
                  <select id="ticket-type" id="payment-information" name="ticket-type" class="form-select">
                    <option value="">-- Select Your Payment Method --</option>
                    <option value="cash">Cash</option>
                    <option value="check">Check</option>
                    <option value="credit">Credit Card</option>
                    <option value="debit card">Debit Card</option>
                    <option value="digital-currency">Digital Currency</option>
                  </select>
                </div>
              <div class="form-group mt-2">
                <input type="datetime-local" class="form-control" name="order_date" id="order_date" placeholder="Order Date">
              </div>
              
              <div  class="form-group mt-3">
                <select  id="ticket-type" name="ticket-type"  class="form-select">
                  <option value="">-- Select Your Ticket Type --</option>
                  <option value="standard-access">Standard Access</option>
                  <option value="pro-access">Pro Access</option>
                  <option value="premium-access">Premium Access</option>
                </select>
              </div>
              <div class="text-center mt-3">
                <button type="button" onclick="send_data()" class="btn">Buy Now</button>
              </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </section><!-- End Buy Ticket Section -->



  <script>

    function send_data() {
      // let TicketId = document.getElementById('ticket_id').value
      let EventName = document.getElementById('event_name').value
      let Date = document.getElementById('date_and_time').value
      let vanue = document.getElementById('vanue').value
      // let TicketStatus = document.getElementById('ticket-status').value
      let Section = document.getElementById('seatsection').value
      let Quantity = document.getElementById('quantity').value
      let username = document.getElementById('ticket_holder_name').value
      let Mobile = document.getElementById('mobile').value
      let Email = document.getElementById('email').value
      let PaymentMethod = document.getElementById('payment-information')
      let OrderDate = document.getElementById('order_date').value
      let TicketType = document.getElementById('ticket-type').value
    
      // Make an asynchronous call to a server-side function
      frappe.call({
        method: 'event.events.user_ticket.ticket',
        args: {
          EventName , Date , vanue , Section , Quantity , username , Mobile , Email , PaymentMethod , OrderDate  , TicketType 
        },
        callback: function (r) {
          // Handle the response here
          if (r.message) {
            // You can do something with the response data if needed
            console.log(r.message);
          }
        },
        error: function (err) {
          // Handle errors here
          console.error(err);
        }
      });
    }
  </script>

  {% endblock %}